h1, h2, h3, p, a, ul {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}

a {
  color: #ff3e00;
  text-decoration: none;
  &:hover {
    color: #40b3ff;
  }
}

code {
  font-family: 'Fira Mono', monospace !important;
  font-size: 14px;
  font-weight: 400;
} 

h1 {
  font-size: 40px;
  color: #676778;
}

h2 {
  font-size: 26px;
  color: #444;
}

h3 {
  font-size: 22px;
  color: #222;
}

p, ul {
  font-size: 18px;
  color: #444;

  &.info {
    font-size: 14px;
    margin-top: 0px;
  }
}